#payment .payment_methods label[for="payment_method_payex_checkout"] {
    display: none !important;
}

.payment_method_payex_checkout {
    display: none !important;
}

#payment {
    display: none;
}
