.featherlight-payex .featherlight-content {
    width: 50%;
}

@media (max-width: 767px) {
    .featherlight-payex .featherlight-content {
        width: 100%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }
}
